In [27]:
import pandas as pd
import json
from IPython.display import display

arquivo_json = "dataset estabelecimentos/cnes_estabelecimentos.json"

with open(arquivo_json, 'r', encoding='utf-8') as f:
    data = json.load(f)

df = pd.json_normalize(data)
df = df.astype(str)

# Padronizar colunas importantes
df['TP_GESTAO'] = df['TP_GESTAO'].str.strip().str.upper()
df['CO_AMBULATORIAL_SUS'] = df['CO_AMBULATORIAL_SUS'].str.strip().str.upper()
df['ST_ATEND_HOSPITALAR'] = df['ST_ATEND_HOSPITALAR'].str.strip()

colunas_uteis = [
    'CO_CNES',
    'NO_FANTASIA',
    'CO_UF',
    'CO_IBGE',
    'TP_GESTAO',
    'CO_AMBULATORIAL_SUS',
    'ST_ATEND_HOSPITALAR',
]

df_tratados = df[colunas_uteis].copy()

# Criar coluna ATENDE_SUS
df_tratados['ATENDE_SUS'] = (
    df_tratados['TP_GESTAO'].isin(['M', 'E', 'F']) |
    (df_tratados['CO_AMBULATORIAL_SUS'] == 'SIM')
)

# 1) Todos os estabelecimentos
df_estabelecimentos = df_tratados.reset_index(drop=True).copy()
df_estabelecimentos['INDICE'] = df_estabelecimentos.index + 1

# 2) Estabelecimentos que atendem SUS
df_estabelecimentos_sus = df_estabelecimentos[df_estabelecimentos['ATENDE_SUS']].reset_index(drop=True).copy()
df_estabelecimentos_sus['INDICE'] = df_estabelecimentos_sus.index + 1

# 3) Hospitais totais
df_hospitais = df_estabelecimentos[df_estabelecimentos['ST_ATEND_HOSPITALAR'] == '1.0'].reset_index(drop=True).copy()
df_hospitais['INDICE'] = df_hospitais.index + 1

# 4) Hospitais que atendem SUS
df_hospitais_sus = df_hospitais[df_hospitais['ATENDE_SUS']].reset_index(drop=True).copy()
df_hospitais_sus['INDICE'] = df_hospitais_sus.index + 1

# Exibir contagens
print(f"Total estabelecimentos: {len(df_estabelecimentos)}")
print(f"Estabelecimentos que atendem SUS: {len(df_estabelecimentos_sus)}")
print(f"Total hospitais: {len(df_hospitais)}")
print(f"Hospitais que atendem SUS: {len(df_hospitais_sus)}")

# Exibir amostras (opcional)
display(df_estabelecimentos.head(5))
display(df_estabelecimentos_sus.head(5))
display(df_hospitais.head(5))
display(df_hospitais_sus.head(5))

Total estabelecimentos: 576849
Estabelecimentos que atendem SUS: 575379
Total hospitais: 9461
Hospitais que atendem SUS: 9329

,CO_CNES,NO_FANTASIA,CO_UF,CO_IBGE,TP_GESTAO,CO_AMBULATORIAL_SUS,ST_ATEND_HOSPITALAR,ATENDE_SUS,INDICE
0,19,POLICLINICADRJAMACIDEMEDEIROS,26,260290,M,SIM,0.0,True,1
1,27,CASADESAUDESANTAHELENA,26,260290,M,SIM,1.0,True,2
2,35,HOSPITALMENDOSAMPAIO,26,260290,M,SIM,1.0,True,3
3,43,POLICLINICADRMANUELGOMES,26,260290,M,SIM,0.0,True,4
4,51,POLICLINICAVICENTEMENDES,26,260290,M,SIM,0.0,True,5

,CO_CNES,NO_FANTASIA,CO_UF,CO_IBGE,TP_GESTAO,CO_AMBULATORIAL_SUS,ST_ATEND_HOSPITALAR,ATENDE_SUS,INDICE
0,19,POLICLINICADRJAMACIDEMEDEIROS,26,260290,M,SIM,0.0,True,1
1,27,CASADESAUDESANTAHELENA,26,260290,M,SIM,1.0,True,2
2,35,HOSPITALMENDOSAMPAIO,26,260290,M,SIM,1.0,True,3
3,43,POLICLINICADRMANUELGOMES,26,260290,M,SIM,0.0,True,4
4,51,POLICLINICAVICENTEMENDES,26,260290,M,SIM,0.0,True,5

,CO_CNES,NO_FANTASIA,CO_UF,CO_IBGE,TP_GESTAO,CO_AMBULATORIAL_SUS,ST_ATEND_HOSPITALAR,ATENDE_SUS,INDICE
0,27,CASADESAUDESANTAHELENA,26,260290,M,SIM,1.0,True,1
1,35,HOSPITALMENDOSAMPAIO,26,260290,M,SIM,1.0,True,2
2,94,MATERNIDADEPADREGERALDOLEITEBASTOS,26,260290,M,SIM,1.0,True,3
3,183,HOSPITALSAMARITANO,26,260290,M,NAO,1.0,True,4
4,221,HOSPITALSAOSEBASTIAO,26,260290,M,NAO,1.0,True,5

,CO_CNES,NO_FANTASIA,CO_UF,CO_IBGE,TP_GESTAO,CO_AMBULATORIAL_SUS,ST_ATEND_HOSPITALAR,ATENDE_SUS,INDICE
0,27,CASADESAUDESANTAHELENA,26,260290,M,SIM,1.0,True,1
1,35,HOSPITALMENDOSAMPAIO,26,260290,M,SIM,1.0,True,2
2,94,MATERNIDADEPADREGERALDOLEITEBASTOS,26,260290,M,SIM,1.0,True,3
3,183,HOSPITALSAMARITANO,26,260290,M,NAO,1.0,True,4
4,221,HOSPITALSAOSEBASTIAO,26,260290,M,NAO,1.0,True,5